include head

body

div(id="form")
  h1 Valrapportering
  form(action="")
    input(type="text", id="lokalinput", placeholder="Vallokal", autocomplete="off")
    br
    br
    input(type="text", id="partiinput", placeholder="Parti", autocomplete="off")
    br
    br
    input(type="number", id="antalinput", placeholder="Antal röster", autocomplete="off")
    br
    br
    button Submit